.App {
  /* text-align: center; */
  background-color: #323945;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  /* font-size: calc(2px + 2vmin); */
  /* color: white;  */
}

.wrapper {
  display: flex;
}
.main {
  /* background-color: #282c34; */
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  transition: all 0.35s ease-in-out;
  margin: 5%;
}
